.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
gulp-task
src
.babelrc.js
.bemrc.js
.browserlistrc
.vscode
.github
.env
ehthumbs.db
Thumbs.db
_config.yml
node_modules
yarn.lock
package-lock.json